tpu-info>=0.7.1
absl-py
numpy
google-cloud-storage
jaxtyping
flax>=0.11.1
torchax>=0.0.10
qwix>=0.1.1
pathwaysutils
numba>=0.60.0
runai-model-streamer[s3,gcs]>=0.15.0
fsspec>=2024.1.0
gcsfs>=2024.1.0
